/*styles.css para Instagram POST*/
body {
    background-color: lightgrey;
}
.post {
    position: static;
    height: 750px;
    width: 33%;
    margin: 0px auto;
    justify-content: center;
    background: white;
}
.post-header {
    background-color: green;
    height: 80px;
    width: 100%;
    display:inline-block;
}
.fa-html5 {
    font-size: 30px;
    float: left;
    padding: 25px 15px 25px 20px;
}
.text-header {
    float: left;
    height: fit-content;
    width: fit-content;
    display: block;
}
.post-header p {
    line-height: 14px;
    font-size: 14px;
    padding-top: 12px;
}
.fa-ellipsis-vertical {
    font-size: 30px;
    float: right;
    padding: 25px;
}
.post-img {
    height: 55%;
    background-color: blue;
    width: 100%;
}